header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}
header nav a{
    text-decoration: none;
    color: rgb(16, 97, 16);

}

header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background-color: black;
}

.reservation .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reservation h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.reservation h5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(1, 49, 1);
}
.reservation .container .contact-form button{
    background-color: white;
    color: black;
}
.reservation .container p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.reservation .container h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.nous{
    text-align: center;
}
.nous h1{
    color: white;
}
.nous p{
    color: white;
}
.nous h2{
    color: white;
}
.nous button{
    background-color: green;
    border-color: green;
}

footer {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60px;
}
footer p{
    color: white;
}
